<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div id="container">
    <div class="header">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWnNb1sB6NGXsT-sVjw7l4Jh88lqoEz3-CXfidsr9gTxYoFOQW" width="50px" alt="placeholder">
      <button [routerLink]="['home']">Home</button>
      <button [routerLink]="['mine']">Mine Coins</button>
      <button [routerLink]="['buy']">Buy Coins</button>
      <!-- <button>Sell Coins</button>
      <button>Browser Ledger</button> -->
    </div>
  </div>
</div>

<router-outlet></router-outlet>
